:root {
    font-size: 60%;

    --color-background: #F1F9F2;
    --color-content-background: #FFFFFF;
    --color-input-background: #FFFFFF;
    --color-button-background: #7728ab;
    --color-border: #D5D5D7;
    --color-title-text: #4c4c4c;
    --color-highlight-text: #FFFFFF;
    --color-primary: #7728ab;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 html, 
 body, 
 #root {
   height: 100vh;
 }

 body {
   background-color: var(--color-background);
 }

 #root {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 body,
 button,
 input,
 textarea {
   font-family: Roboto;
   line-height: 2.4rem;
   font-size: 1.6rem;
   font-weight: 400;
 }

 button {
  width: 20%;
  height: 4rem;
  background: var(--color-primary);
  color: var(--color-highlight-text);
  border: 0;
  border-radius: 0.6rem;
  font-size: 1.4rem;
  cursor: pointer;
  text-decoration: none;
  transition: opacity 0.2s;
  margin-top: 2rem;
  margin-left: 1rem;
}
button:hover {
  opacity: 0.8;
}
section{
 margin-top: 1rem;
 color: var(--color-title-text);
}

 @media (min-width: 768px) {
   :root {
     font-size: 62.5%;
   }
 }